main {
    justify-content: center;
    align-items: center;
    gap: 1em;

    h1 {
        color: var(--purple);
        font-size: 3em;
        font-weight: 400;
        margin-bottom: 0.25em;
    }

    a {
        color: var(--blue);
        font-size: 2em;
        transition: color 0.1s linear, transform 0.1s linear;

        &:hover {
            color: var(--orange);
            transform: scale(1.1);
        }
    }
}