.contain {
    justify-content: center;
    align-items: center;
    padding: 2em 0;

    .Lists {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5em;

        .List {
            min-width: 35em;
            gap: 1em;
            color: var(--purple);
    
            .Title {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                gap: 1em;
                border-bottom: 0.15em solid var(--purple);
                padding: 0.1em;
    
                h1 {
                    font-weight: 400;
                }
                
                .Button {
                    font-size: 1.25em;
                    color: var(--blue);
                    text-decoration: underline;
                    transition: color 0.1s linear, transform 0.1s linear;
    
                    &:hover {
                        cursor: pointer;
                        transform: scale(1.1);
                        color: var(--orange);
                    }
                }
            }
    
            .DataItem {
                width: fit-content;
                color: var(--blue);
                text-decoration: underline;
                font-size: 1.25em;
                flex-direction: row;
                justify-content: space-between;
                transition: color 0.1s linear, transform 0.1s linear, font-weight 0.1s linear;
    
                &:hover {
                    cursor: pointer;
                    color: var(--orange);
                    transform: scale(1.05);
                }
    
                span {
                    font-size: 1.25em;
                }
            }
    
            .Data {
                gap: 0.25em;
    
                p {
                    font-size: 1.3em;
                    font-weight: 500;
                }
    
                input {
                    font-size: 1.25em;
                    padding: 0.125em 0.25em;
                    flex-grow: 1;
                    background: none;
                    opacity: 0.55;
                    border-bottom: 0.125em dashed var(--black);
                    transition: opacity 0.1s linear;
    
                    &:hover, &:focus {
                        opacity: 1;
                    }
                }
            }
    
            .Row {
                flex-direction: row;
            }
        }
    }
}